[submodule "Tests/URITemplateTests/Cases"]
	path = Tests/URITemplateTests/Cases
	url = https://github.com/uri-templates/uritemplate-test
[submodule "Packages/Spectre"]
	path = Packages/Spectre
	url = https://github.com/kylef/Spectre
[submodule "Packages/PathKit"]
	path = Packages/PathKit
	url = https://github.com/kylef/PathKit
